[Desktop Entry]
Name=OpenDeck
Comment=OpenDeck
Exec=opendeck --ozone-platform=wayland %U
Terminal=false
Type=Application
Icon=opendeck
Categories=Utility;Development;HardwareSettings;
