[Desktop Entry]
Version=1.0
Name=Google Chrome
Comment=Access the Internet
Exec=google-chrome %U
Icon=google-chrome
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true